* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.logo {
    height: 160px;
    margin-left: 230px;
    margin-top: 60px;
    display: inline-block;
}

header { 
    display: inline-block;
    font-size: 40px;
    margin-left: 80px;
    cursor: pointer;
    font-weight: 900;
}

body {
    position: relative;
    background: #e3e3e3;
    width: 100%;
}

.link {
    margin-right: 40px;
}

.principal {
    display: block;
    width: 90%;
    border-radius: 75px;
    margin: auto;
    margin-top: 50px;
}

.baixe {
    width: 180px;
    height: 44px;
    font-size: 20px;
    background: rgba(100, 212, 216, 1);
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

.explora {
    background: rgba(20, 68, 70, 1);
    width: 150px;
    height: 45px;
    border: none;
    border-radius: 35px;
    font-size: 20px;
    color: white;
    cursor: pointer;
}

h1 {
    color: rgba(255, 255, 255, 1);
    width: 719px;
    font-weight: 900;
    height: 140px;
    font-size: 64px
}

p {
    color: rgba(255, 255, 255, 1);
    width: 600px;
    font-weight: 900;
    height: 76px;
    font-size: 32px;
    margin-top: 35px;
    margin-bottom: 60px;
}

.txt {
    position: absolute;
    margin-left: 300px;
    margin-top: 300px;
}
